@import 'font-awesome.css';

 body {
    background-color: #fafafa;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
    /* overflow-y:hidden; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'SF UI Text';
    font-size: 27px;
    color: #323330;
    margin: 1rem auto;
    background: linear-gradient(to top, #FFCF11, #FFDD58);
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
    text-align: center;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}


button {
    background: none;
    border: none;
    border-radius: 2px;
    color: #757575;
    padding: 13px 15px;
    display: inline-block;
    font-family: "Consolas",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

button:active {
    background-color: rgba(158,158,158,.4);
}



main {
    width: 600px;
    margin: 70px auto;
    border-radius: 2px;
    position: relative;
   
}


.navigation{
    display: flex;
    justify-content: center;
}
.navigation > a{
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'SF UI Text';
    font-size: 15px;
    color: #323330;
    margin: 1rem auto;
    text-transform: uppercase;
    margin: 0;
    padding: 15px;
}
.navigation a:first-child{
    color:#FFCF11;
}

.navigation a:first-child:hover{
    background-color: #323330;
}
.navigation a:last-child:hover{
    background-color: #FFCF11;
}


.mainForm {
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    width: 600px;
    margin: 100px auto;
    padding: 1.6em 3.4em;
    padding-right: 3em;
    border-radius: 1.9em;        
    background-color: #323330;
}

.mainForm button {
    color:#FFCF11;
    padding: 15px 40px;
    border-radius: 15px;
    margin-left: 30px;
    background-color: rgba(158,158,158,.2);
}

.mainForm button:hover{
    background-color: rgba(158,158,158,.4);
}


.mainForm input, .mainForm textarea {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .3em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
    border: none;
    height: 30px;
    background: linear-gradient(to top left, black, #323330);
    border: 1px solid transparent;
}



.editForm {
    display: flex;
    align-items: center;
    padding: .3em .6em;
    background-image: url('bgc.png');
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

/* .editForm input , .editForm textarea{
  background-color: #fff;

} */

.editForm button{
    margin-right: 43px;
}

input {
    outline: none;
    transition: all .2s;
}

textarea{
    flex-grow:1;
    padding: 0 .2em;
    resize: none;
    overflow: auto;
    margin: 0 10px;
}

input , textarea {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: .9rem;
    color: #757575;
    padding: .3em;
    border-radius: 2px;
    outline: none;
}

.mainForm textarea:focus{
    border: 1px solid #f0db4f;
}

.mainForm input:focus {
    border: 1px solid #f0db4f;
}




.item {
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: .3em .6em;
    align-items: center;
    background-image: url('bgc.png');
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.item .editTitle, .item .note {
    margin-right: auto;
}

.item .title{
    font-weight: 700;
    text-transform: uppercase;
}

.item .note{
    padding-left: 20px;
}

/* .item.editing .title , .item.editing .note{
    display: none;
} */

/* .item .editTitle {
    display: none;
} */

.item textarea{
    padding: 0;
    font-size: .8em;
    display: none;
}

.editForm input{
    width: 80px;
    font-size: .8em;
    border-radius: 9px;
    font-weight: 800;
    text-transform: uppercase;
}
.editForm textarea{
    border-radius: 9px;
    width: 80px;
    font-size: .8em;
    height: 17px;
}

/* .item.editing .editTitle , .item.editing textarea{
    display: block;
} */

.item button {
    opacity: 0;
    transition: all .2s;
}

.item:hover button, .item:hover .date {
    opacity: 1;
}

.editButton , .deleteButton{
    padding: .8em  1.1em;
}

.editButton:hover, .deleteButton:hover{
    color: #FFCF11
}

.item .date{
    font-size: .7em;
    opacity: 0;
    margin-right: 10px;
}



.pagination {
    position: absolute;
    top: 70px;
    left: 100%;
    z-index: 1;
    margin-left: 10px;
}
.pagination > li {
  display: inline-block;
  margin-bottom:7px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 6px 13px;
  text-align: center;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}



.active {
    color: #FFCF11;
    border: 1px solid #FFCF11;
}




*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }












